:root{

--space-xs:clamp(4px,.3vw,8px);
--space-sm:clamp(8px,.6vw,12px);
--space-md:clamp(12px,.9vw,18px);
--space-lg:clamp(18px,1.2vw,24px);
--space-xl:clamp(24px,2vw,40px);

--font-xs:clamp(11px,.65vw,12px);
--font-sm:clamp(12px,.75vw,14px);
--font-md:clamp(14px,.9vw,16px);
--font-lg:clamp(18px,1.2vw,24px);
--font-xl:clamp(28px,2.5vw,54px);

}
